@import "_nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	min-width: 1050px;
}

.first_page
{
	background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	text-align: center;
	
	.header
	{
		display: flex;
		flex-wrap: nowrap;
		orientation: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 90%;
		height: 120px;
		align-items: center;
		margin: auto;
		&__logo{
			width: 206px;
			height: 78px;
			margin-left: 0;
		}
		&__menu
		{
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
			a{
				display: flex;
				font-size: 15px;
				color: white;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				padding: 13px 0 0 60px;
				&:first-child{
					padding: 13px 0 0 0px;
				}
			}
		}
		&__signup{
			margin: 0 0 0 30px;
			padding: 13px 0 0 0;
			margin-right: 0%;
			button{
				border-radius: 39px;
				width: 153px;
				height: 52px;
				border: 1px solid #FFFFFF;
				color: white;
				box-sizing: border-box;
				filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
				background-color: transparent;
				margin-right: 0;
				&:hover{
					background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 120%);
					border: 2px solid white;
				}
			}
		}
	}
	.title{
		margin: 90px auto 30px auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		&__title{
			display: flex;
			margin: auto;
			font-weight: 900;
			font-size: 55px;
			line-height: 65px;
			text-align: center;	
			color: white;
			width: 651px;
			height: 151px;
		}
		&__subtitle{
			display: flex;
			margin: auto;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			color: #E5E5E5;
		}
	}
	.button{
		height: 52px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		min-width: 837px;
		margin: auto;
		button{
			display: flex;
			flex-direction: row;
			align-items: center;
			box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
			border-radius: 39px;
		}
		&__first{
			background: #FFFFFF;
			padding: 0px 36px;
			margin: 0 15px 0 30px;
		}
		&__second{
			background-color: transparent;
			padding: 0px 36px;
			border: 1px solid #FFFFFF;
			margin: 0 0 0 15px;
			color: white;
		}
	}
	.image{
		margin: auto;
		display: flex;
		min-width: 837px;
		flex-direction: row;
		align-items: center;
		img{
			width: 100%;
		}
	}
}
.second_page{
	background: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	.second_page__title{
		display: flex;
		flex-direction: row;
		margin: auto;
		align-items: center;
		padding: 100px 10px 50px 10px;
		font-weight: 500;
		font-size: 46px;
		text-align: center;
		width: 791px;
		height: 134px;
	}
	.second_page_cards{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		margin: 85px 0 80px 0;
		.second_page_cards__card{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			background: #FFFFFF;
			border: 1px solid #DEDEDE;
			box-sizing: border-box;
			box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			width: 304px;
			height: 440.62px;
			padding: 20px 30px;
			&:nth-child(2){
				margin: 0 40px 0 40px;
				display: flex;
				flex-wrap: nowrap;
			}
			&--active_card{
				background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
				color: white;
				flex-wrap: nowrap;
				display: flex;
			}
			&__img{
				width: 70px;
				height: 102.62px;
				padding: 10px;
			}
			&__title{
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
				margin: 10px 0px;
			}
			&__text{
				font-style: normal;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				font-weight: normal;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.2px;
				color: #5C5C5C;
				margin: 10px 0px;
				&--active_text{
					color: white;
				}
			}
			&__more{
				font-size: 15px;
				line-height: 27px;
				color: #03D6F3;
				&--active_more{
					a{
						color: white;
					}
				}
			}
		}
	}
}